@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

body {
  font-family: "Poiret One", cursive;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #000;
  animation: fadeInAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    /*filter: blur(20px);*/
  }

  100% {
    opacity: 1;
    /*filter: blur(0px);*/
  }
}

html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-overflow-scrolling: touch;
}

::-moz-selection {
  /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgba(86, 90, 90, 0.61);
  text-decoration-color: #fff;
}

::selection {
  color: rgb(255, 255, 255);
  background: rgba(86, 90, 90, 0.61);
  text-decoration-color: #fff;
}


/*************************************************************
  NAV
**************************************************************/

.topnav {
  list-style-type: none;
  padding: 1.5px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  align-self: center;
  height: auto;
  font-size: 18px;
  font-size: 100%;
  width: 100%;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  z-index: 5;
  font-size: 18px;
}

.topnav a {
  transition: .8s;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

.topnav .navlink:hover {
  background-color: #ddd;
  color: white;
  border: 10%;
}

.topnav .navlink:hover:not(.active) {
  transition: .8s;
  background-color: rgba(225, 225, 225, 0.5);
  letter-spacing: 1.5px;
  border-bottom-right-radius: 43%;
  border-top-left-radius: 43%;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 450px) {
  .topnav a

  /*:not(:first-child)*/
    {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .topnav.responsive {
    position: fixed;
  }

  .topnav.responsive .icon {
    right: 0;
    top: 0;
    position: fixed;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.logo {
  width: 21px;
  height: 21px;
  float: left;
  transition: .8s;
  transform: scale(1.23);
  animation-name: spin;
  animation-duration: 6.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.logo:hover:not(.active) {
  transition: .8s;
  animation-play-state: paused;
}

@keyframes spin {
  from {
    -moz-transform: scale(1.23);
    -webkit-transform: scale(1.23);
    -o-transform: scale(1.23);
    -ms-transform: scale(1.23);
    transform: scale(1.23);
  }

  to {
    -moz-transform: scale(1.23) rotate(360deg);
    -webkit-transform: scale(1.23) rotate(360deg);
    -o-transform: scale(1.23) rotate(360deg);
    -ms-transform: scale(1.23) rotate(360deg);
    transform: scale(1.23) rotate(360deg);
  }
}


/*************************************************************
  HERO IMAGE & EFFECT
**************************************************************/

.heroEffects {
  height: 100%;
  position: relative;
  z-index: -1;
  top: 0;
  left: 0;
}

.heroEffects .bg {
  height: 100%;
  position: fixed;
  width: 100%;
  background-image: url('IMG_7556.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  transform: scale(1);
}

.heroEffects .shade {
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 3;
  height: 100%;
  position: fixed;
  width: 100%;
}

.heroEffects .title {
  width: 100%;
  font-family: "Merienda", cursive;
}

.heroEffects .title .text {
  padding: 2px;
  z-index: 1;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Merienda", cursive;
  text-shadow: 2px 2px 5px black;
}

.centerV {
  display: table;
  height: 100%;
}

.centerV>div {
  display: table-cell;
  vertical-align: middle;
}

.content {
  height: 100%;
  padding-top: 50px;
  margin-bottom: 5px;
  line-height: 32px;
  overflow-x: hidden;
}

.content p {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;

}
.content h1 {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 5px;
}

.bouncy {
  animation: Weeeeeeeeeee 3s infinite cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes Weeeeeeeeeee {
  0% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }

  11% {
    transform: translate(0, -25px) scaleX(0.8);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }

  20% {
    transform: translate(0, 0px) scaleY(0.8);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }

  28% {
    transform: translate(0, -10px);
    animation-timing-function: cubic-bezier(0.57, 0.01, 0.84, 0.5);
  }

  36% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }

  100% {
    transform: translate(0, 0px);
    animation-timing-function: cubic-bezier(0.19, 0.28, 0.27, 1);
  }
}

/*
  *, *::before, *::after {
    box-sizing: border-box;
  }
*/
html,
body {
  height: 100%;
}



/*************************************************************
  DARKMODE
**************************************************************/

.dark-mode {
  background: #12192D;
  color: rgb(207, 207, 207);
  transition: 1.3s;
}

.light-mode {
  background: #EDE6D2;
  color: rgb(71, 71, 71);
  transition: 1.3s;
}

.light-mode .fa-poo-storm {
  text-shadow: 3px 3px 4px #181818;
}

.dark-mode .fa-poo-storm {
  text-shadow: 3px 3px 4px #797979;
}

.light-mode .fa-poo-storm:hover {
  text-shadow: 3px 3px 5px #1818186c;
}

.dark-mode .fa-poo-storm:hover {
  text-shadow: 3px 3px 5px #7979796c;
}

.content {
  /*
    transition: 1.3s;*/
  height: 100%;

  box-shadow: 0 -2px 50px black
    /*
    display: grid;
    place-items: center;
    */
}

.dark-mode .btn-darkmode-toggle {
  transition: .5s;
  position: fixed;
  border-radius: 500px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  border-color: #a1a1a100;
  background-color: #a1a1a100;
  color: rgba(255, 255, 255, 0.35);
  height: 40px;
  width: 40px;
  bottom: 22px;
  right: 24px;
  font-size: 130%;
}

.dark-mode .btn-darkmode-toggle:hover {
  transition: .5s;
  position: fixed;
  border-color: #a1a1a100;
  border-style: solid;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
  fill-opacity: 100%;
  box-shadow: 2px 2px 5px white;
}


.light-mode .fa-adjust {
  transition: .5s;
  position: fixed;
  border-radius: 500px;
  border-style: solid;
  text-align: center;
  cursor: pointer;
  border-color: #a1a1a100;
  background-color: #a1a1a100;
  color: rgba(71, 71, 71, 0.35);
  height: 40px;
  width: 40px;
  bottom: 22px;
  right: 24px;
  font-size: 130%;
}

.light-mode .fa-adjust:hover {
  transition: .5s;
  position: fixed;
  border-color: #a1a1a100;
  border-style: solid;
  text-align: center;
  color: rgb(71, 71, 71);
  background-color: rgba(0, 0, 0, 0);
  fill-opacity: 100%;
  box-shadow: 2px 2px 5px black;
}




/*************************************************************
  FULLSCREEN OVERLAYS
**************************************************************/

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.95);
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  margin: 32px;
  margin-right: 32px;
  color: #fff;
  overflow-x: scroll;
  line-height: 35px;
}

.overlay-content a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: 0.6s;
}

.overlay-content .openart:hover {
  color: rgba(225, 225, 225, 0.5);
  text-decoration: none;
  font-weight: bold;
  transition: 0.6s;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.closebtn {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.closebtn:hover,
.closebtn:focus {
  color: #f1f1f1;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}


/*************************************************************
  POOP
**************************************************************/

.fa-poo-storm {
  font-size: 66px;
  text-align: center;
  transition: 0.5s;


  /*
  animation: animate 8s linear infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: scale(1.5);
  transition: ease 0.5s;
  */
  overflow-x: hidden;

}
/*
.fa-poo-storm:hover {
  background: linear-gradient(30deg, #ff0000, #ff0000, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #ee829d, #F05A5A, #FB1616, #ff0000, #ff0000);
  background-size: 900%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s linear infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: scale(1.5);
  transition: ease 0.5s;
  overflow-x: hidden;
}

.fa-poo-storm:active {
  background: linear-gradient(30deg, #ff0000, #ff0000, #ff0000, #ffa500, #ffff00, #008000, #0000ff, #4b0082, #ee82ee, #ee829d, #F05A5A, #FB1616, #ff0000, #ff0000);
  /*
  background: linear-gradient(35deg,#1b1b1b, #1b1b1b, #ffffff,#1b1b1b,#1b1b1b);
  */
  /*
  background-size: 900%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 8s linear infinite;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  transform: scale(1.5);
  transition: ease 0.5s;
  overflow-x: hidden;
}

@keyframes animate {
  to {
    background-position: 100%;
  }
}


/*************************************************************
  CONTACT ICONS
**************************************************************/


.contact-icons {
  text-align: center;
  font-size: 40px;
  transition: 0.5s;
}

.contact-icons:hover {
  transition: 0.5s;
  opacity: 0.5;
  transform: rotateY(360deg);
}
